fastapi
uvicorn[standard]
sqlalchemy
pydantic
email-validator
google-auth
google-auth-oauthlib
google-api-python-client
google-analytics-data
openpyxl
pandas
python-dotenv
requests
passlib
bcrypt==3.2.2
python-jose[cryptography]
python-multipart
authlib
httpx
itsdangerous
